{% extends "base.html" %}

{% block title %}Sunburst Diagramok{% endblock %}

{% block content %}
<h1>Sunburst Ábra</h1>

<!-- Sunburst 1 -->
<div id="sunburst1" style="height: 600px;"></div>

<!-- Sunburst 2 -->
<div id="sunburst2" style="height: 600px;"></div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    // Sunburst 1: Túlélési arány nem és jegytípus szerint
    var sunburstData1 = "{{ sunburstJSON | safe }}";
    Plotly.newPlot('sunburst1', sunburstData1);

    // Sunburst 2: Teljes utaslista hierarchikus bontásban
    var sunburstData2 = "{{ sunburst2JSON | safe }}";
    Plotly.newPlot('sunburst2', sunburstData2);
</script>
{% endblock %}
