{% extends "base.html" %}

{% block title %}Sunburst Ábra{% endblock %}

{% block content %}
<h1>Titanic Sunburst Ábrák</h1>

<!-- Sunburst 1 Ábra -->
<div id="sunburst1"></div>

<!-- Sunburst 2 Ábra -->
<div id="sunburst2"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    // Az első Sunburst ábra renderelése
    var sunburstData1 = {{ sunburst_json | safe }};
    Plotly.newPlot('sunburst1', sunburstData1.data, sunburstData1.layout);

    // A második Sunburst ábra renderelése
    var sunburstData2 = {{ sunburst2_json | safe }};
    Plotly.newPlot('sunburst2', sunburstData2.data, sunburstData2.layout);
</script>

{% endblock %}
